.env
*.session-journal
*.session
build
test*
*.mp3
*.webm
*.webp
*.mp4
*.tgs
/*.jpg
/*.png
/*.mkv
*.log
*.txt
*.json
target/npmlist.json
package-lock.json

# Directories
__pycache__/
venv/
node_modules/
.idea/
.vscode/
temp/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk
*.so
*.raw

# fly.io configs
fly.toml
